*{
    margin: 0;
    padding: 0;
}
nav{
    height: 62px;
    background-color: #17181C;
    text-align: center;
}
nav ul{
    list-style: none;
    display: inline-block;
}

nav ul li{
    float: left;
    margin-top: 20px;
}
nav ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}

nav li a:hover {
    background-color: #929fb3;
    }